.main-card{
    width: 400px;
    height: 700px;
    background-color: mediumturquoise;

}

.card-header{
    width: 100%;
    height: 400px;
    background: rgb(202, 200, 197);
}

.header-image img{
    width: 50%;
    height: 200px;
    border-radius: 50%;
    
}

.header-text{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
}

.header-icon{
    position: relative;
}